body {
    background-color: #caf431;
  }

  .image{
    width: 100%;
    height: 100%;
  }

  .player1board{ /*Player 1 scoreboard*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    position: absolute;
    width: 220px;
    height: 344px;
    left: 0px;
    top: 250px;
    background: linear-gradient(160.65deg, rgba(255, 255, 255, 0.6) 0.74%, rgba(255, 255, 255, 0.1) 102.03%);
    border-radius: 8px;
}

.player2board{ /*Player 2 scoreboard*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    position: absolute;
    width: 220px;
    height: 344px;
    right: 0px;
    top: 250px;
    background: linear-gradient(160.65deg, rgba(255, 255, 255, 0.6) 0.74%, rgba(255, 255, 255, 0.1) 102.03%);
    border-radius: 8px;
}
  /* main Container */
  .wrapper {
    box-sizing: content-box;
    width: 500px;
    padding: 2.5em 3em;
    background-color: #f21515;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;  /* To make it in middle */
    top: 60%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(198, 242, 4, 0.2);
  }

  /* images container */
  .game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
  }
  /* moves,count player display */
  .stats-container {
    text-align: right;
    margin-bottom: 1.2em;
  }
  /* font settings for moves,count */
  .stats-container span {
    font-weight: 600;
  }

  .card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
  }
  .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid #1f1e1e;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before {
    background-color: #5ff431;
    font-size: 2.8em;
    font-weight: 600;
  }
  .card-after {
    background-color: #e41b1b;
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #d0f431;
    top: 0;
  }
  button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    color: #ece1e1;
    background-color: rgb(255, 0, 0);
    font-size: 30px;
  }
  #stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ebe2e2;
  }
  .hide {
    display: none;
  }

  .Memory{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 535px;
    top: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.0882153px;
    color: #ef1414;
}

.exitbutton{
    text-align: center;
    padding: 16px;
    font-size: 18px;
    border: #D4190C;
    color: #ffffff;
    position: absolute;
    width: 120px;
    height: 52px;
    left: 698px;
    top: 5px;
    line-height: 20px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    background: #D4190C;
    border-radius: 8px;
}
.overlay{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    /* flex-wrap: wrap; */
}

  #player1text {
    position: absolute;
    display: none;
    background-color: rgb(134, 134, 244);
    cursor: pointer;
    
  }

  #player2text {
    display:none;
    background-color: rgb(244, 134, 237);
    cursor: pointer;
    position: absolute;
    left: 600px;
  
  }
  